# Ignore everything
*

# Except for ...
!README.md
!LICENSE
!Pipfile*
!Dockerfile
!.dockerignore

# Python files
!*.py
!securemailbox/
!securemailbox/*.py
!securemailbox/**/
!securemailbox/**/*.py

# And of course
!.gitignore