# Ignore everything
*

# Except for ...
!README.md
!LICENSE
!Pipfile*
!Dockerfile
!Dockerfile.prod
!.dockerignore
!pyproject.toml
!docker-compose.yml
!nginx/flaskapp.conf
!.env
!deploy.sh
!wsgi.ini
!wsgi.prod.ini

# Python files
!*.py
!securemailbox/
!securemailbox/*.py
!securemailbox/**/
!securemailbox/**/*.py

# And of course
!.gitignore
