# Ignore everything
*

# Except for ...
!README.md
!LICENSE
!Pipfile*
!Dockerfile
!Dockerfile.prod
!.dockerignore
!pyproject.toml
!poetry.lock
!docker-compose.yml
!docker-compose.production.yml
!nginx/
!nginx/flaskapp.conf
!nginx/flaskapp_prod.conf
!.env
!securemailbox/views/docs/*
!deploy.sh
!wsgi.ini
!wsgi.prod.ini

# letsencrypt setup
!letsencrypt/
!letsencrypt/letsencrypt-site/
!letsencrypt/letsencrypt-site/docker-compose.yml
!letsencrypt/letsencrypt-site/nginx.conf

# Python files
!*.py
!securemailbox/
!securemailbox/*.py
!securemailbox/**/
!securemailbox/**/*.py
!tests/
!tests/*.py

# And of course
!.gitignore
